*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
html {
    font-size: 62.5%;
}


body
{
    font-family: montserrat;
    height: 100vh;
    
}

nav
{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo
{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul 
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a
{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.active,a:hover
{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn
{
font-size: 30px;
color: #fff;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

#check
{
    display: none;
}

.body-content
{
    padding: 5px;
    margin:5px;
    background: url(images/pursuit-wallpaper-1920x1080-63.jpg) no-repeat; 
    height: calc(150vh - 100px);
    /* background-size: cover; */
}
 .main-txt
{
    text-align: center;
    font-size: 25px;
    color:rgb(148, 9, 240);
}

#txt
{
    column-count: 1;
}


.main-page
{
    width: 100%;
    height: 25rem;
}

body
{
    line-height: 1.5;
}
.container
{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
ul
{
    list-style: none;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.footer
{
    background-color: #24262b;
    padding: 70px;
  
}

.footer-col
{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4
{
    font-size: 18px;
    color: #fff;
    text-transform:capitalize;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all .3s ease;
}
.footer-col ul li a:hover
{
    color: #fff;
    padding-left: 8px;
}
.social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    /* color: #fff; */
    transition: all 0.5s ease;
    

}

.social-links a:hover
{
    color: #24262b;
    background-color: #fff;
    

}

@media (max-width:958px)
{
    .logo
    {
font-size: 30px;
padding-left: 50px;
    }

    nav ul li a 
{
    font-size: 16px;
}

}

@media (max-width:858px)
{
    .checkbtn
    {
        display: block;
    }

    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }

    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a 
    {
        font-size: 20px;
    }

    a:hover,.active 
    {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul
    {
        left: 0;
    }

}

@media (max-width:394px)
{
    label.logo
{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding: 0 50px;
    font-weight: bold;
}
    .checkbtn
    {
        display: block;
    }

    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }

    nav ul li
    {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul li a 
    {
        font-size: 20px;
    }

    a:hover,.active 
    {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul
    {
        left: 0;
    }

}




@media (max-width:767px) 
{
    .footer-col
    {
        width: 50%;
        margin-bottom: 30px;

    }
}

@media (max-width:574px) 
{
    
    .footer-col
    {
        width: 100%;
        margin-bottom: 30px;
        
    }
}