*{
    margin: 2px;
    padding: 5px;
}
body{
    font: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: crimson;
}
h3{
    margin: 0 0 8px 0;
}
h2{
    font: 24px;
    margin: 0 0 10px 0;
}
p{
    margin: 0 0 20px 0;
}
#fliud-wrap{
    width: 70%;
    margin:60px auto;
    padding: 20px;
    background: wheat;
    overflow: hidden;
}
#sidebar{
    width: 35%;
    float: left;
}
#sidebar ul{
    list-style: none;
}
#sidebar ul li a{
    color: rgb(222, 36, 228);
    text-decoration: none;
    padding: 3px 0;
    display: block;
    

}
@media all and (min-width:1001px){
    #sidebar ul li a:after{
        content: "("attr(data-email)")";
        color:rgb(37, 1, 1);
        font-size: 10px;
        font-style: italic;
    }
    
}
@media all and (max-width:1000px) and (min-width:700px){

    #sidebar ul li a:before{
content: "Email:";
font-style: italic;
color: yellow;
    }
}

@media all and (max-width:699px) and (min-width:520px) ,(min-width:1151px) {
    #sidebar ul li a{
padding-left: 21px;
background: url();
/* background-position:left; */
background-repeat: no-repeat;

    }
}

#main-content{
    width: 65%;
    float:right;
    
}