table,tr,th,td{
    border: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing:10px;
}
thead {
    background: #F2F3F5 !important;
}
th{
    background-color: brown;
}
td{
    background-color: rgb(246, 246, 246);
}
img{
 max-width: 100%;
}
footer{
    background: #73031b;
    padding: 15px 0;
    color: #451515;
    font-size: 85%;
}
nav {
    padding: 20px;
    background-color: #451515;
}

nav a {
    font-weight: 900;
    font-size: 20px;
    padding: 30px;
    text-decoration: none;
    color: wheat;
}

footer a {

    padding: 10px;
    text-decoration: none;
    color: white;
}